<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
      tools:targetApi="31">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <!-- This is the right way to do it, but I don't have a file -->
        <!-- browser that implements "send directory" -->
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:mimeType="vnd.android.document/directory" />
        <data android:scheme="content" />
      </intent-filter>

      <intent-filter>
        <!-- We can get the parent directory from a file sent by Ghost Commander via 'open with ..' -->
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="content" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>

      <intent-filter>
        <!-- We can get the parent directory from a file sent by Ghost Commander via 'send to ..' -->
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>

    <activity
        android:name=".PrefActivity"
        android:exported="true"
        android:label="@string/pref_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    </activity>

    <!-- <activity -->
    <!--     android:name=".DebugIntentReceiverActivity" -->
    <!--     android:exported="true"> -->
    <!--     <intent-filter> -->
    <!--         <action android:name="android.intent.action.SEND" /> -->
    <!--         <category android:name="android.intent.category.DEFAULT" /> -->
    <!--         <data android:mimeType="*/*" /> -->
    <!--     </intent-filter> -->
    <!--     <intent-filter> -->
    <!--         <action android:name="android.intent.action.SEND_MULTIPLE" /> -->
    <!--         <category android:name="android.intent.category.DEFAULT" /> -->
    <!--         <data android:mimeType="*/*" /> -->
    <!--     </intent-filter> -->
    <!--     <intent-filter> -->
    <!--         <action android:name="android.intent.action.VIEW" /> -->
    <!--         <category android:name="android.intent.category.DEFAULT" /> -->
    <!--         <category android:name="android.intent.category.BROWSABLE" /> -->
    <!--         <data android:mimeType="*/*" /> -->
    <!--         <data android:scheme="content" /> -->
    <!--         <data android:scheme="file" /> -->
    <!--     </intent-filter> -->

    <!-- </activity> -->

  </application>

</manifest>
